<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Settings</h3>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <label>Läns bokstav</label>
      <input required class="form-control" name="county">
    </div>
    <div class="form-group">
      <label>Sök eller detaljsida</label>
      <select  required id="select" name="searchOrDetail" class="form-control">
        <option value="search">Sök</option>
        <option value="detail">Detalj</option>
     </select>
    </div>
    <div class="form-group">
      <label>Profil</label>
      <select  required id="select" name="profile" class="form-control">
        <% if(profiles.length > 0) { %>
          <% _.each(profiles, function(profile) { %>
            <option value="<%- profile %>">
              <%- profile %>
            </option>
          <% }) %>
        <% } %>
     </select>
    </div>
  </div>
</div>
