<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Settings</h3>
  </div>
 
  <div class="panel-body">
    
  </div>
  <button id="addComponentButton">Lägg till regelblock</button>