<% if(searchOrDetail == "search"){ %>
    <div data-entryscape="config" data-entryscape-base-filter='{"org": "lss:county/<%= county %>"}'></div>
    <div data-entryscape="lstPublicationSearch" data-entryscape-click="<%= childUri %>"></div>
<% } else { %>
    <div data-entryscape="lstPublicationView"></div>
<% } %>
<link rel="stylesheet" href="<%= cssLink %>"/>
<script src="<%= extensionLink %>"></script>
<script src="<%= blocksLink %>"></script>